<?xml version="1.0"?>
<opencv_storage>
<CamUrl>rtsp://service:12345678@192.168.100.100:554/</CamUrl>
<CamUrl2>rtsp://service:12345678@192.168.100.101:554/</CamUrl2>
<CamUrl3>rtsp://service:12345678@192.168.100.102:554/</CamUrl3>
<FrmPosX>0</FrmPosX>
<FrmPosY>0</FrmPosY>
<FrmWidth>450</FrmWidth>
<FrmHeight>375</FrmHeight>
<SmallArea>150</SmallArea>
<LargeArea>4900</LargeArea>
<KeepCount>4</KeepCount>
<MovDetect>-1.</MovDetect>
<BrightThreshold>245</BrightThreshold>
<CropX>50</CropX>
<CropY>35</CropY>
<AlarmNumber>1</AlarmNumber>
<DiffInOut>50</DiffInOut>
<AlarmLevel>8</AlarmLevel>
<ThreshDetect>50</ThreshDetect>
</opencv_storage>
